<div class="w-full border border-blue-400 bg-blue-400/10 p-5 rounded text-blue-600 flex justify-between items-center cursor-pointer" (click)="openIt()">
  <div class="flex-1 text-sm font-semibold">
    <p>Workshop 1</p>
    <p>01/12/2003</p>
  </div>
  <p class="truncate w-1/2 text-sm hidden lg:block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, est debitis. In aut aliquid voluptates alias porro similique facilis sit nostrum officiis ut! Possimus nostrum minima, aperiam veniam rem distinctio.</p>
  <div class="flex-1 flex justify-end gap-3 items-center">
    <p class="underline text-sm lg:text-xs">Clique para ver mais</p>
    <div class="text-sm">
      <fa-icon icon="arrow-pointer"></fa-icon>
    </div>
  </div>
</div>