<div class="h-screen w-screen flex flex-col p-5 justify-between gap-5">
  <div class="w-auto">
    <app-header></app-header>
  </div>
  <div class="flex-1 min-h-1/2">
    <div class="w-full flex flex-col max-h-full gap-10">
      <app-filter class="hidden lg:block"></app-filter>
      <button class="bg-blue-400 flex p-5 rounded-xl items-center gap-5 font-semibold text-white lg:hidden cursor-pointer" (click)="openPopPup(true)">
        <img src="filterIcon.svg" alt="">
        <p>Filtros</p>
      </button>
      <div id="workshop-container" class="flex-1 overflow-y-scroll bg-blue-400/15 rounded">
        <app-table class="h-full" (table_open)="openPopPup($event)"></app-table>
      </div>
    </div>
  </div>
</div>

@if (isOpen && !PopPupIsMobileFilter) {
  <app-popup (close)="closePopPup()" type="showWorkshop" class="absolute w-full h-screen top-0 left-0 bg-black/60 flex justify-center items-center"></app-popup>
}
@if (isOpen && PopPupIsMobileFilter) {
  <app-popup (close)="closePopPup()" type="mobileFilter" class="absolute w-full h-screen top-0 left-0 bg-black/60 flex justify-center items-center"></app-popup>
}